footer{
    grid-area: ft;
}

.footer_card{
    background-color: rgba(200, 220, 255, 0.4);
    width: 1000px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer_title{
    padding-top: 10px;
    color: rgba(20, 100, 255, 0.8);
}

.footer_describtion{
    margin: 20px;
    font-size: 14px;
}

.footer_textbox{
    width: 180px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.footer_button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    background-color: rgba(20, 100, 255, 0.8);
    cursor: pointer;
    transition-duration: 0.1s;
}

.footer_button:active{
    background-color: rgba(20, 100, 255, 1);
}

.footer_links{
    margin: 50px 0 0 0;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.link{
    font-size: 12px;
    margin: 10px;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}